@import "tailwindcss";

@plugin "@tailwindcss/typography";

body {
  color: black;
  background-color: #d6dbe0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: black;
  }
}
